{{#each Tempandhums}}
<tr>
  <td>{{time}}</td>
{{/each}}
{{#each Workers}}
  <td>{{worker_name}}</td>
{{/each}}
{{#each Tempandhums}}
  <td>{{temperature}}</td>
  <td>{{humidity}}</td>
{{/each}}
{{#each Workers}}
  <td>{{state}}</td>
  <td>{{workers_assessment}}</td>
</tr>
{{/each}}